[user]
	name = Thomas Faingnaert
	useConfigOnly = true
[merge]
	conflictstyle = diff3
	tool = nvimdiff
	autoStash = true
[mergetool]
	keepBackup = false
	prompt = false
	hideResolved = true
[diff]
	colorMoved = default
	tool = nvimdiff
[difftool]
	prompt = false
[alias]
	a = add
	aa = add --all
	br = branch
	ci = commit
	cia = commit --amend
	co = checkout
	d = diff
	dc = diff --cached
	du = diff @{u}
	fa = fetch --all
	fixup-files = !"fixfiles() { git diff --name-only --cached | while read file; do git commit --fixup \"$(git log -1 --format=\"%H\" -- \"$file\")\" -- \"$file\"; done; }; fixfiles"
	gone = !"gone() { git fetch --all --prune >/dev/null; git branch -vv | grep -F ': gone]' | sed 's/^\\+//' | awk '{ print $1 }'; }; gone"
	gonep = !"gonep() { git worktree prune; git gone | xargs git branch -D; }; gonep"
	hotmail = config user.email thomas.faingnaert@hotmail.com
	l = log --abbrev-commit --decorate --date=relative --format=tformat:'%C(bold blue)%h%C(reset) - %C(dim white)%an%C(reset) %C(bold green)(%ar)%C(reset) - %C(white)%s%C(reset) %C(bold yellow)%d%C(reset)'
	lg = l --graph
	m = merge
	mt = mergetool
	pl = pull
	pr = !"pr() { git fetch $(git remote | grep ^upstream || echo origin) pull/$1/head:pr/$1 && git checkout pr/$1; }; pr"
	ps = push
	psu = push --set-upstream origin HEAD
	squash = !"squash() { git reset --soft "$1" && git commit; }; squash"
	rb = rebase
	rbc = rebase --continue
	rbi = rebase --interactive
	st = status
	ugent = config user.email thomas.faingnaert@ugent.be
	ver = describe --dirty='+' --abbrev=40 --match 'v*' --always
	wc = log --abbrev-commit --decorate --date=relative --format=tformat:'%C(bold blue)%h%C(reset) - %C(dim white)%an%C(reset) %C(bold green)(%ar)%C(reset) - %C(white)%s%C(reset) %C(bold yellow)%d%C(reset)' --patch --perl-regexp --author='^((?!Thomas Faingnaert|tfaingna).*)$'
	wta = !"wta() { DIR="../$( echo "$1" | tr / -)"; git worktree add --no-track "$DIR" origin/master -b "$1"; }; wta"
	wtl = worktree list
	wtp = worktree prune
	wn = !"wn() { git l $1@{1}..$1@{0} \"$@\"; }; wn"
[core]
	excludesfile = ~/.gitignore_global
	pager = delta
	attributesfile = ~/.gitattributes

[interactive]
	diffFilter = delta --color-only

[delta]
	file-decoration-style = blue box
	file-style = blue
	hunk-header-decoration-style = blue underline
	max-line-length = 0
	minus-style = syntax auto
	navigate = true
	side-by-side = true
	syntax-theme = OneHalfDark
	wrap-max-lines = unlimited
[filter "nbstripout"]
	clean = \"/usr/bin/python3\" -m nbstripout
	smudge = cat
[diff "ipynb"]
	textconv = \"/usr/bin/python3\" -m nbstripout -t
[diff "json"]
	textconv = \"/usr/bin/python3\" -m json.tool
[rebase]
	autoStash = true
	autoSquash = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[mergetool "vimdiff"]
	layout = "LOCAL,BASE,REMOTE / MERGED + BASE,LOCAL + BASE,REMOTE + (LOCAL/BASE/REMOTE),MERGED"
[commit]
	verbose = true
