[user]
	name = Thomas Faingnaert
	useConfigOnly = true
[merge]
	tool = gvimdiff
[mergetool]
	prompt = false
[diff]
	tool = gvimdiff
[difftool]
	prompt = false
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	hotmail = config user.email thomas.faingnaert@hotmail.com
	ugent = config user.email thomas.faingnaert@ugent.be
[core]
	excludesfile = ~/.gitignore_global
