[user]
	name = Thomas Faingnaert
	useConfigOnly = true
[merge]
	tool = gvimdiff
[mergetool]
	prompt = false
[diff]
	tool = gvimdiff
[difftool]
	prompt = false
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	hotmail = config user.email thomas.faingnaert@hotmail.com
	ugent = config user.email thomas.faingnaert@ugent.be
	ps = push
	pl = pull
	d = diff
	dc = diff --cached
	l = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(dim white)%an%C(reset) %C(bold green)(%ar)%C(reset) - %C(white)%s%C(reset) %C(bold yellow)%d%C(reset)'
	wc = !"wc() { git log --perl-regexp --author='^((?!Thomas Faingnaert|tfaingna).*)$' --abbrev-commit --decorate --date=relative --format=format:'-----COMMIT-----%C(bold blue)%h%C(reset) - %C(dim white)%an%C(reset) %C(bold green)(%ar)%C(reset) - %C(white)%s%C(reset) %C(bold yellow)%d%C(reset)' --patch --color=always \"$@\" | diff-highlight | sed -e '/diff --git/,/+++ / d' -e '/^-----COMMIT-----/! s/^\\(.*\\)$/    \\1/' -e 's/^-----COMMIT-----//' | less -r; }; wc"
	aa = add --all
[core]
	excludesfile = ~/.gitignore_global
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
