snippet desktop "Desktop Entry"
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=${1:/path/to/my-application}
Icon=${2:/path/to/my-icon.png}
Name=${3:My Application}
endsnippet
